/* Checkboxes de Campos */

.fields form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include d(m) {
        grid-template-columns: 1fr;
    }
    @include d(s) {
        grid-template-columns: 1fr;
    }
}

.fields form > div {
    @include flex-jbetween;
    padding: 1.25rem;
    border-bottom: 1px solid $black;
    font-weight: bold;
    font-size: 1rem;
    color: $text-blue;
    > div {
        @include flex-center;
        position: relative;
    }
    img {
        display: none;
    }
    &:nth-child(odd) {
        border-right: 1px solid $black;
    }
    [type="checkbox"] {
        position: absolute;
        left: 0;
        opacity: 0;
        z-index: 1;
        height: 1.25rem;
        width: 1.25rem;
        &:hover {
            cursor: pointer;
        }
        &:checked ~ .checkmark::after {
            display: block;
        }
        ~ .checkmark {
            position: relative;
            height: 1.25rem;
            width: 1.25rem;
            border: 1px solid $black;
            margin-right: 0.25rem;
            &::after {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: '';
                height: 0.875rem;
                width: 0.875rem;
                background-color: $bkgd-blue;
            }
        }
    }
}