/* DIV DA CHECKBOX */

.row-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    div {
        @include flex-jstart;
        padding: 12px 8px;
        border: 1px solid $black;
        border-top: none;
        border-left: none;
        font-size: 12px;
        font-weight: bold;
        color: $text-blue;
        &:nth-child(-n+4) {
            border-top: 1px solid $black;
        }
        &:nth-child(4n) {
            border-right: none;
        }
    }
    &:last-child {
        padding-bottom: 1.5rem;
    } 
}

/* CHECKBOX */

.row-4 div {
    position: relative;
    [type="checkbox"] {
        position: absolute;
        height: 14px;
        width: 14px;
        z-index: 1;
        opacity: 0;
        &:hover {
            cursor: pointer;
        }
        &:checked ~ .checkmark::after {
            display: block;
        }
        ~ .checkmark {
            position: relative;
            height: 14px;
            width: 14px;
            margin-right: 0.25rem;
            border: 1px solid $black;
            &::after {
                display: none;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                content: '';
                height: 8px;
                width: 8px;
                background-color: $bkgd-blue;
            }
        }
    }
}