/* Variáveis */
$bkgd-blue: #2E51A2;
$bkgd-gray: #DDDDDD;
$white: #FFFFFF;
$black: #000000;
$emphasis: #DAA520;
$text-blue: #172952;

/* Configurações Gerais */
body {
    padding: 2.5rem 0;
    background: conic-gradient(
        $bkgd-blue 0deg 90deg,
        $bkgd-gray 90deg 270deg,
        $bkgd-blue 270deg 360deg
    );
    font-family: 'Verdana', 'sans-serif';
}

header {
    margin-bottom: 54px;
}

.emphasis {
    color: $emphasis;
}

/* Mixins Úteis */

@mixin flex-jbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-jstart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}